html{
    font-family: 'Noto Sans TC', sans-serif;
}
body{
    color: $color-secondary;
}
// #app{
//     max-width: 500px;
//     margin: auto;
// }
._h1{
    text-align: center;
    font-size: 1.5rem !important;
    margin: 1.5rem 0 !important;
}
._h2{
    text-align: center;
    font-size: 1.5rem !important;
    margin-bottom: 2rem !important;
}